<header class="bg">
  <a routerLink="/">
    <img src="./../../assets/img/header/logo.png"
       class="Logo"
       srcset="./../../assets/img/header/logo@2x.png 2x, ./../../assets/logo@3x.png 3x" alt="logo">
  </a>
  <div class="header-menu">
    <div class="menu-li"><a href="">Top 10</a></div>
    <div class="menu-li" id="menu-film">
      <a routerLink="">Фильмы</a>
      <div class="li-film">
        <ul>
          <li *ngFor="let g of genre$ | async"><a routerLink=""> {{g.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="menu-li"><a routerLink="">Мультфильмы</a></div>
    <div class="menu-li"><a routerLink="">Телеканалы</a></div>
  </div>
  <div class="user-area">
    <app-languages-select [currentLang]="currentLang" [langList]="translations$ | async"></app-languages-select>
    <app-user-header></app-user-header>
  </div>
</header>
